.view-relationship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
