.output-viewer {
  width: 100%;
  text-align: center;
  background-color: rgb(202, 242, 255);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px #ccc;
  padding: 1rem;
}

.log {
  margin-bottom: 0.25rem;
  color: dodgerblue;
}

.results {
  color: darkblue;
  font-size: 1.15rem;
}
